<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Cadastrar revisão</title>
</head>
<body>
<div class="container">
    <h1>Página de cadastro de revisões</h1>
    <hr>
    <form action="{{ url_for("cadastroUpgradeRevisao") }}" method="POST">
        <div class="form-group">
            <label for="num-serie">Número de série:</label>
            <input type="text" class="form-control" name="num-serie">
        </div>
        <div class="form-group">
            <label for="data-prog">Data programada:</label>
            <input type="text" class="form-control" name="data-prog" placeholder="AAAAMMDD">
        </div>
        <div class="form-group">
            <label for="data-ulti">Data do último serviço:</label>
            <input type="text" class="form-control" name="data-ulti" placeholder="AAAAMMDD">
        </div>
        <div class="form-group">
            <label for="data-exec">Data executada:</label>
            <input type="text" class="form-control" name="data-exec" placeholder="AAAAMMDD">
        </div>
        <input type="submit" value="Cadastrar">
    </form>
    <br>
    <a href="{{ url_for("index") }}">Retornar à home</a>
</div>
</body>
</html>