<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <hr>
    <table class="table">
    <thead class="thead-default">
        <tr>
            <th align="center"><h3>CPF</h3></th>
            <th align="center"><h3>Nome</h3></th>
            <th align="center"><h3>Editar</h3></th>
            <th align="center"><h3>Excluir</h3></th>
        </tr>
    </thead>
        {%  for cliente in clientes %}
        <tr>
            <td>{{ cliente.cpf }}</td>
            <td>{{ cliente.nomeCli }}</td>
            <td><a href="/editarCliente/{{ cliente.cpf }}">Editar</a></td>
            <td><a href="/excluirCliente/{{ cliente.cpf }}">X</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for("index") }}">Retornar à home</a>
</body>
</html>