<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Lista de revisões</title>
</head>
<body>
    <h1>Lista de Revisões</h1>
    <hr>
    <table class="table">
    <thead class="thead-default">
        <tr>
            <th align="center"><h3>Número de série</h3></th>
            <th align="center"><h3>Data Programada</h3></th>
            <th align="center"><h3>Data do último serviço</h3></th>
            <th align="center"><h3>Data Executada</h3></th>
            <th align="center"><h3>Editar</h3></th>
            <th align="center"><h3>Excluir</h3></th>
        </tr>
    </thead>
        {%  for servico in servicos %}
        <tr>
            <td>{{ servico.numSerieComputador }}</td>
            <td>{{ servico.dataProgramada }}</td>
            <td>{{ servico.dataUltimoUpgrade }}</td>
            <td>{{ servico.dataExecutada }}</td>
            <td><a href="/editarUpgradeRevisao/{{ servico.numSerieComputador}}/{{ servico.dataProgramada }}">Editar</a></td>
            <td><a href="/excluirUpgradeRevisao/{{ servico.numSerieComputador}}/{{ servico.dataProgramada }}">X</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for("index") }}">Retornar à home</a>
</body>
</html>